<!DOCTYPE html>
<html lang="pt">
<head>
 <meta charset="UTF-8">
 <link href="static/ajax.css" rel="stylesheet" type="text/css">
 <title>Listagem de Pessoas</title>
</head>
<body>
 <h1>Listagem de Parques</h1>
 <hr/>
 <table>
     <tr>
        <th>Restaurante</th>
        <th>Bairro</th>
        <th>Endereço</th>
        <th>Telefone</th>
         <th>Horário de Funcionamento</th>
         <th>Avaliação</th>
        <th>Imagem</th>
     </tr>
     {{ imagens | safe }}
 </table>
 <a href="/"> Voltar ao Menu </a>
</body>
</html>


