<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <title>Gráfico de Barras</title>
</head>
<body>
   <h1 style="color: brown">Gráfico de Barras</h1>
   <hr/>
   <div id="columnchart_material" style="width: 800px; height: 500px;"></div>

   </div>
   <hr/>
   <br/>
</body>
</html>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart', 'bar']});
        google.setOnLoadCallback(drawBarColors);

      function drawBarColors() {
        var data = google.visualization.arrayToDataTable([
          ['Transtorno', 'Brasil', 'Irlanda', 'Estados Unidos'],
          ['Depressão', 59, 57, 55],
          ['Ansiedade', 63, 61, 60]
        ]);

        console.log(google.visualization.arrayToDataTable);

        var options = {
          chart: {
            title: 'Depressão e Ansiedade',
            subtitle: 'Porcentagem da população com casos durante a pandemia e o isolamento social',
          },
          colors: ['#009c3b', '#FF7900', '#002868'],
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>





