<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde Mental</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
            <div class="tituloSaudeMental"><h1>Melhore a sua saúde mental</h1></div>
            <div class="textoExercicio">
                <p>Quando falamos de "Saúde Mental", não nos referimos somente
                    em alguns tipos de transtornos mentais, por exemplo, mas
                    também como o bem-estar mental, que está relacionado ao
                    lado tanto emocional, psicológico e social.
                </p>
                <br>
                <p>Nos dias de hoje, é de suma importância termos uma boa
                    qualidade, no quesito de "Saúde Mental". Pois, caso ocorra
                    de ter a ausência de tal quesito, isso pode acarretar
                    diversos fatores, que podem acabar afetando, de alguma forma
                    a vivência, não sendo mais capaz de conviver de maneira
                    adequada, principalmente, no local de trabalho.
                </p>
            </div>
            <div class="Imagem_Texto">
                <div class="imagensExercicio">
                    <img class="imagemOpcoes" src="../static/imagens_saudeMental/saudeMental.jpg">
                    <img class="imagemOpcoes" src="../static/imagens_saudeMental/saudeMental2.jpg">
                </div>
                <div class="textSideImage">
                    <p>E além de não conseguir conviver de maneira adequada,
                        a chance de surgir algumas doenças, que se não haver o 
                        devido tratamento, pode acabar se tornando algo crônico.
                    </p>
                    <br>
                    <p>Muitas das vezes, a maiorias das pessoas, não levam a sério
                        o tema de "saúde mental", por parecer "não tão importante"
                        quanto a saúde "física" pode parecer. <br>
                        Porém a saúde mental é tão importante quanto a física. Importante, pois a saúde
                        mental é capaz de:<br><br>
                        -Melhorar a saúde física;<br>
                        -Contribuir para ter relacionamento saudáveis;<br>
                        -Tornar-se mais produtivo em todos os cenários;<br>
                        -Melhorar seu potencial pessoal.
                    </p>
                </div>
            </div>
            <div class="textoExercicio">
                <p>Sabendo disso, é bom sempre manter-se vigilante, diante os sinais que são apresentados. Independente da área, sempre que algo em nós não está certo, algum tipo de sinal é realizado, para meio que, nos avisarmos, sobre o que está errado. Com a mente não é diferente, quando nossa saúde mental não está nas melhores condições, é liberado uma série de sinais, para nos alertarmos e fazermos algo a respeito, eles podem ser diversos, porém os mais comuns são:
                    <br><br>-Insônia;<br>
                    -Alterações no apetite;<br>
                    -Indisposição;<br>
                    -Fácil irritabilidade;<br>
                    -Perda no interesse em atividades que antes, sentia prazer;<br>
                    -Raciocínio lento (ou perda de concentração).
                </p>
                <br>
                <h2 class="subTituloSaudeMental">FATORES QUE INFLUENCIAM NEGATIVAMENTE NA MENTE</h2>
                <p>Não é de hoje, que ouvimos falar, nem que seja uma vez,
                    que é sempre bom cuidarmos da nossa saude mental. E assim
                    como temos fatores que ajudam a mantermos uma boa qualidade
                    da nossa saude mental, também há, os que influenciam de 
                    maneira negativa, que podem ser vários, mas os mais "comuns"
                    são:<br><br>

                    -Transtornos do sono (ou sono desregulado);<br>
                    -Fazer coisas forçadas;<br>
                    -Ter variações constantes de humor;<br>
                    -Sentir-se incapaz de realizar tarefas diárias.<br>
                </p>
                <h2 class="subTituloSaudeMental">FATORES QUE INFLUENCIAM NEGATIVAMENTE NA MENTE</h2>
                <p>Assim como temos fatores, que de alguma forma, influenciam
                    negativamente na mente. Também temos os que influenciam
                    positivamente na mente, que são eles:<br><br>
                    
                    -Ter uma boa alimentação;<br>
                    -Praticar atividades físicas;<br>
                    -Ter uma boa qualidade de sono;<br>
                    -Ter tempo reservado para lazer;<br>
                    -Realizar atividades que lhe proporcionam prazer.
                </p>
                <h2 class="subTituloSaudeMental">FATORES QUE INFLUENCIAM NEGATIVAMENTE NA MENTE</h2>
                <p>Nos dias conturbados de hoje em dia, nos devemos ter o conhecimento necessário para conseguir manter uma boa saúde mental. E existem diversas maneiras ou hábitos diferentes que ajudam, a manter uma boa qualidade à mente, que são elas:
                    <br><br>
                    -Atividades físicas;<br>
                    -Dieta balanceada;<br>
                    -Priorizar o sono;<br>
                    -Ter boa relação com as pessoas;                    
                </p>
            </div>
        </div>
    </main>
    
</body>
</html>