
/*Nav Bar*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logoG {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to top, rgb(50, 69, 85),rgb(73, 127, 148));
    height: 8vh;
}

main {
    background: url("../static/imagens/fundo3.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    margin-right: 8%;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

/*Main*/

.container1 {
    width: 85%;
    height: 50%;
    background: url("../static/imagens/PisagemDesenho.jpg") no-repeat center/100%;
}

.container2 {
    width: 85%;
    height: 60%;
    background-image: linear-gradient(to right, rgb(50, 69, 85),rgb(96, 168, 197));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fraseMotivacional {
    font-size: 2.5vw;
}

h1 {
    font-size: 3.5vw;
}

.text {
    width: 40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-left: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em #333;
}

.TituloMain {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 7vh;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em #333;
}

.imagem {
    margin: 5px;
    max-width: 100%;
    height: 300px;
    width: 395px;
    object-fit: contain;
    object-fit: cover;
    border-radius: 20px; 
}

.conteudo {
    margin: 30px;
}


h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 1000;
}

.subMain {
    background-image: linear-gradient(to right, rgb(50, 69, 85),rgb(96, 168, 197));
    height: 100%;
    width: 85%;
}

/*Sobre*/

.TituloSobre {
    width: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em #333;
}

.sobreNos {
    margin-top: 3%;
    margin-left: 7%;
    width: 80%;
}

p {
    font-size: 1.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.TituloFundadores {
    font-size: 2.5vw;
    margin-left: 5%;
    width: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em #333;
}

.FotosFundadores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    flex-wrap: wrap;
}

.perfil {
    margin: 5px;
    max-width: 100%;
    height: 250px;
    width: 200px;
    object-fit: contain;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 3px 3px 3px;
}

/*Contato*/

.subMainContato {
    margin-top: 10%;
    margin-bottom: 10%;
    background: rgb(87, 147, 170);
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
}


input[name="pEmail"] {
    height: 3vh;
    width: 20vw;
    margin-top: 4%;
    margin-bottom: 4%;
}

input[name="pNome"] {
    height: 3vh;
    width: 20vw;
    margin-top: 4%;
    margin-bottom: 4%;
}

input[name="pMensagem"] {
    height: 10vh;
    width: 40vw;
    margin-top: 4%;
    margin-bottom: 4%;
}

input[value="Enviar Imagem"] {
    height: 3vh;
}

td {
    color: white;
    font-size: 120%;
}

.forms {
    margin-bottom: 10%;
    margin-left: 15%;
}

h3 {
    font-size: 3.5vh;
    color: rgb(255, 255, 255);
    font-weight: 1000;
}

.opiniao {
    font-size: 2vh;
    margin-left: 1%;
}

/*Lazer*/

.tituloLazer {
    margin-left: 6%;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em #333;
}

.imagensLazer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.textoLazer {
    margin-top: 4%;
    margin-left: 9%;
    margin-bottom: 4%;
    margin-right: 9%;
}