<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <title>Gráfico de Barras</title>
</head>
<body>
   <h1 style="color: brown">Gráfico de Barras</h1>
   <hr/>
   <table class="columns">
    <tr>
      <td><div id="divBarras01" style="border: 1px solid #ccc"></div></td>
      <td><div id="divBarras02" style="border: 1px solid #ccc"></div></td>
    </tr>
   <hr/>
   <br/>
</body>
</html>

<script type="text/javascript">

   google.charts.load("current", {packages:["corechart"]});
   google.charts.setOnLoadCallback(drawChart01);
   google.charts.setOnLoadCallback(drawChart02);

   function drawChart01() {
     var data = google.visualization.arrayToDataTable([
       ["intervalo", "Proporção (%)", { role: "style" }]
       {{ barras_01 | safe }}
     ]);

      function getValueAt(column, dataTable, row) {
        return dataTable.getFormattedValue(row, column);
      }

     var view = new google.visualization.DataView(data);
     view.setColumns([0, 1, 2]);

     var options = {
       title: "Consumo recomendado de hortaliças e frutas, inclusive suco (pelo menos 25 vezes na semana)",
       width: 600,
       height: 400,
       bar: {groupWidth: "95%"},
       legend: { position: "none" },
     };
     var chart = new google.visualization.BarChart(document.getElementById("divBarras01"));
     chart.draw(view, options);
 }



 function drawChart02() {
     var data = google.visualization.arrayToDataTable([
       ["intervalo", "Proporção (%)", { role: "style" }]
       {{ barras_02 | safe }}
     ]);

      function getValueAt(column, dataTable, row) {
        return dataTable.getFormattedValue(row, column);
      }

     var view = new google.visualization.DataView(data);
     view.setColumns([0, 1, 2]);

     var options = {
       title: "Consumo regular de feijão (cinco ou mais dias da semana)",
       width: 600,
       height: 400,
       bar: {groupWidth: "95%"},
       legend: { position: "none" },
     };
     var chart = new google.visualization.BarChart(document.getElementById("divBarras02"));
     chart.draw(view, options);
 }

 </script>





